#scene-hierarchy {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.hier-row {
  display: flex;
  align-items: center;
  gap: 4px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
  }
}
.hier-row.selected {
  background-color: rgba(255, 255, 255, 0.1);
}

.hier-name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hier-remove {
  flex-shrink: 0;
  opacity: 0;
}

.hier-row:hover .hier-remove {
  opacity: 1;
}
